.nopadding{
    padding: 0;
}
.header{
    background: #fff;
}
.header .top-navigation{
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #393e45;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}
.header .navbar-nav{
    text-align: center;
    width: 625px;
    margin: 0 auto;
    float: none;
}
.header .navbar-nav>li>a{
    padding: 22px 20px;
    color: #393e45;
}
.header .navbar-nav>li.active>a,
.header .navbar-nav>li>a:hover{
    background: rgba(0,0,0,0.5);
    color:#fff;
    border: none;
    outline: none;
}

.main-slider{
    position: relative;
    font-family: 'Raleway', sans-serif;
}
.main-slider .bg-slider .item{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-position: center !important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.main-slider .logo{
    position: absolute;
    top: 50%;
    margin-top: -160px;
    z-index: 2;
    left: 0;
    right: 0;
}
.main-slider .logo .welcome{
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
}
.main-slider .logo .free-estimate{
    margin-top: 45px;
}
.main-slider .logo .free-estimate a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid black;
    padding: 20px 35px;
    border-radius: 26px;

    color: #000;
    text-decoration: none;
}
.main-slider .arrow-down{
    position: absolute;
    z-index: 2;
    bottom: 37px;
    width: 100%;
    text-align: center;
}
.main-slider .arrow-down a{
    color: #fff;
    font-size: 52px;
}
.background-inner-page{
    height: 450px;
    background-attachment: fixed;
    background-repeat: no-repeat
}
.content .live-tile {
    width: 50%;
    margin: 0;
    height: 295px;
}
.content .live-tile .background{
    background-size: cover;
    background-position:center;
    height: 100%
}
.content .tile-group.four-wide, .content  .tile-strip.four-wide{
    width: 100%;
}
.content .projects .title-block{
    color: #777;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
    font-family: 'PT Sans', sans-serif;
}
.content .projects .residential .title-block{
    border-right:1px solid #d00355;
}
.content .projects .commercial .title-block {
    border-left:1px solid #d00355;
}
.content-inner-page{
    color: #393e45;
    font-family: 'Raleway', sans-serif;
    padding: 60px 0;
}
.content-inner-page .title-inner-page{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 45px;
}

.content-inner-page .text{
}
.map-feedback{
    padding: 120px 0;
    background: url("../images/map.jpg");
    background-size: cover;
}
.map-feedback .form-feedback{
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 35px 15px;
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-size: 16px;
}
.map-feedback .header-form-feedback{
    padding: 0 15px;
    margin-bottom: 30px;
}
.map-feedback .header-form-feedback .item-address{
    margin-bottom: 20px;
}
.map-feedback .header-form-feedback .item-address span{
    text-transform: uppercase;
}
.form-feedback .form-group .form-control{
   height: 50px;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.form-feedback .form-group .form-control:focus{
    border-color: #ccc;
}
.form-feedback .form-group textarea{
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
}
.form-feedback .submit{
    background-color: #303030;
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    height: 45px;
    width: 165px;
    border: none;
    outline: none;
}
/*FOOTER*/
.footer{
    padding: 20px 15px;
    background: #fff;
}
.footer .logo-footer img{
    max-width: 150px;
}
.footer .hours-operation {
    color: #333;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 50px;
}
.footer .footer-nav>li>a{
    color: #393e45;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px 0 10px;
}
@media (max-width: 991px){
    .content .live-tile{
        height: 200px;
    }
    .footer .hours-operation{
        margin-bottom: 20px;
    }

}
@media (max-width: 767px) {
    .header .navbar-nav{
        width: 100%;
        text-align: left;
    }
    .main-slider .logo{
        margin-top: -85px;
    }
    .main-slider .logo .welcome{
        font-size: 30px;
    }
    .main-slider .logo-img  img{
        max-width: 150px;
        padding: 0 15px;
    }
    .main-slider .arrow-down{
        display: none;
    }
    .background-inner-page{
        height: auto;
    }
    .content .live-tile {
        height: 155px;
    }
    .map-feedback{
        padding: 0;
    }
    .map-feedback .form-feedback{
        width: 100%;
        border-top:2px solid #ccc ;
        border-bottom:2px solid #ccc ;
    }
    .footer .footer-nav{
        display: none;
    }
    .footer .logo-footer{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer .hours-operation{
        margin-left: 0;
    }
}